<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="elmencho.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
<userSettings>
	<elmencho.Properties.Settings>
                <setting name="boxtype" serializeAs="String">
                        <value>Default</value>
                </setting>
                <setting name="snapline" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="healthbar" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="outline" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="radius" serializeAs="String">
                        <value>5</value>
                </setting>
                <setting name="team" serializeAs="String">
                        <value>Blue</value>
                </setting>
                <setting name="enemy" serializeAs="String">
                        <value>Red</value>
                </setting>
                <setting name="watermark" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="snaplineColor" serializeAs="String">
                        <value>White</value>
                </setting>
                <setting name="outlineColor" serializeAs="String">
                        <value>Red</value>
                </setting>
                <setting name="watermarkColor" serializeAs="String">
                        <value>Cyan</value>
                </setting>
                <setting name="watermarkColor2" serializeAs="String">
                        <value>Black</value>
                </setting>
                <setting name="esp" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="bhop" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="text" serializeAs="String">
                        <value>External Beta</value>
                </setting>
                <setting name="bold" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="italic" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="ftt" serializeAs="String">
                        <value>14</value>
                </setting>
        </elmencho.Properties.Settings>
    </userSettings>
</configuration>
